# R 語言的五十道練習

> 如何載入資料

[數據交點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@datainpoint.com>

## 內建資料

## 豐富的內建資料

以 `data()` 函數觀察

In [1]:
data()

## 資料也有說明文件可以讀

In [2]:
help(iris) # ?iris will do
help(cars) # ?cars will do

## 輸入表格式資料

## 常見的表格式（tabular）資料有哪些？

- 以不同符號分隔變數的文字檔（`.txt`、`.csv`）
- Excel 試算表（`.xlsx`）
- JSON（`.json`）
- 資料庫表格（`.db`）

## 以逗號分隔值的文字檔：`.csv`

Comma-Separated Values，CSV，有時也稱為字元分隔值，因為分隔字元也可以不是逗號，其檔案以純文字形式儲存表格資料。

來源：<https://en.wikipedia.org/wiki/Comma-separated_values>

## 載入工作目錄中的 `imdb_top_rated.csv`

使用 `read.csv()` 函數。

```r
read.csv(file, sep = ",", header = TRUE)
```

In [3]:
imdb_top_rated_csv <- read.csv("imdb_top_rated.csv", sep = ",", header = TRUE)
head(imdb_top_rated_csv)

  title                    release_year imdb_rating
1 The Shawshank Redemption 1994         9.2
2 The Godfather            1972         9.1
3 The Godfather: Part II   1974         9.0
4 The Dark Knight          2008         9.0
5 12 Angry Men             1957         8.9
6 Schindler's List         1993         8.9

## 文字檔：`.txt`

文字檔（text file）是不包含樣式的控制元素、只有字元構成的檔案，能夠被最簡單的文字編輯器直接讀取。

來源：<https://en.wikipedia.org/wiki/Text_file>

## 載入工作目錄中的 `imdb_top_rated.txt`

使用 `read.csv()` 函數。

```r
read.csv(file, sep = ";", header = TRUE)
```

In [4]:
imdb_top_rated_txt <- read.csv("imdb_top_rated.txt", sep = ";", header = TRUE)
head(imdb_top_rated_txt)

  title                    release_year imdb_rating
1 The Shawshank Redemption 1994         9.2
2 The Godfather            1972         9.1
3 The Godfather: Part II   1974         9.0
4 The Dark Knight          2008         9.0
5 12 Angry Men             1957         8.9
6 Schindler's List         1993         8.9

## Excel 試算表

工作目錄的 `imdb_top_rated.xlsx`。

## 使用 `readxl` 套件中的 `read_excel()` 函數

- 安裝 `readxl` 套件。
- 載入 `readxl` 套件。
- 使用 `readxl` 套件的 `read_excel()` 函數。

## 安裝 `readxl` 套件

- 透過 RStudio 的 `Packages` 功能頁籤。
- 透過 `install.packages()` 函數。

```r
install.packages("readxl")
```

## 載入 `readxl` 套件

- 透過 RStudio 的 `Packages` 功能頁籤。
- 透過 `library()` 函數。

```r
library("readxl")
```

## 載入工作目錄的 `imdb_top_rated.xlsx`

In [5]:
library("readxl")

imdb_top_rated_xlsx <- read_excel("imdb_top_rated.xlsx")
head(imdb_top_rated_xlsx)

  title                    release_year imdb_rating
1 The Shawshank Redemption 1994         9.2
2 The Godfather            1972         9.1
3 The Godfather: Part II   1974         9.0
4 The Dark Knight          2008         9.0
5 12 Angry Men             1957         8.9
6 Schindler's List         1993         8.9

## JSON

JSON (JavaScript Object Notation) 是一種輕量的資料交換格式，是一種文字檔案但是其格式能夠被輕易地被 C, C++, C#, Java, JavaScript, Perl, Python 等程式語言解析與生成，主要的 JSON 格式有兩種：具有鍵和值的結構與具有順序性的結構，其中具有鍵和值的結構常被稱為 dict、hash table 等，具有順序性的結構常被稱為 array、list 等。

來源：<https://www.json.org/json-en.html>

## 使用 `jsonlite` 套件中的 `fromJSON()` 函數

- 安裝 `jsonlite` 套件。
- 載入 `jsonlite` 套件。
- 使用 `jsonlite` 套件中的 `fromJSON()` 函數。

## 安裝 `jsonlite` 套件

- 透過 RStudio 的 `Packages` 功能頁籤。
- 透過 `install.packages()` 函數。

```r
install.packages("jsonlite")
```

## 載入 `jsonlite` 套件

- 透過 RStudio 的 `Packages` 功能頁籤
- 透過 `library()` 函數

```r
library("jsonlite")
```

## 載入工作目錄的 `imdb_top_rated.json`

In [6]:
library("jsonlite")

imdb_top_rated_json <- fromJSON("imdb_top_rated.json")
head(imdb_top_rated_json)

  title                    release_year imdb_rating
1 The Shawshank Redemption 1994         9.2
2 The Godfather            1972         9.1
3 The Godfather: Part II   1974         9.0
4 The Dark Knight          2008         9.0
5 12 Angry Men             1957         8.9
6 Schindler's List         1993         8.9

## 資料庫表格

在關聯式資料庫中，資料表又稱表格，是一個二維的資料結構，由水平的列和垂直的欄組成。

來源：<https://en.wikipedia.org/wiki/Table_(database)>

## 使用 `RSQLite` 套件與 `DBI` 套件

- 安裝 `RSQLite` 套件。
- 載入 `DBI` 套件。
- 使用 `RSQLite::SQLite()` 建立連線。

## 使用 `RSQLite` 套件與 `DBI` 套件（續）

- 使用 `DBI` 套件的 `dbReadTable()` 函數載入表格。
- 使用 `DBI` 套件的 `dbSendQuery()` 搭配 `dbFetch()` 函數查詢表格。
- 使用 `DBI` 套件的 `dbClearResult()` 函數清除查詢結果。
- 使用 `DBI` 套件的 `dbDisconnect()` 函數關閉資料庫連線。

## 安裝 `RSQLite` 套件

- 透過 RStudio 的 `Packages` 功能頁籤
- 透過 `install.packages()` 函數

```r
install.packages("RSQLite")
```

## 載入 `DBI` 套件

- 透過 RStudio 的 `Packages` 功能頁籤
- 透過 `library()` 函數

```r
library("DBI")
```

## 使用 `DBI` 套件的 `dbConnect()` 函數建立連線

In [7]:
library("DBI")

con <- dbConnect(RSQLite::SQLite(), "imdb.db")
dbListTables(con)

[1] "top_rated"

## 使用 `DBI` 套件的 `dbReadTable()` 函數載入表格

In [8]:
imdb_top_rated_db <- dbReadTable(con, "top_rated")
head(imdb_top_rated_db)

  title                    release_year imdb_rating
1 The Shawshank Redemption 1994         9.2
2 The Godfather            1972         9.1
3 The Godfather: Part II   1974         9.0
4 The Dark Knight          2008         9.0
5 12 Angry Men             1957         8.9
6 Schindler's List         1993         8.9

## 使用 `DBI` 套件的 `dbSendQuery()` 搭配 `dbFetch()` 函數查詢表格

In [9]:
sql_query <- "SELECT * FROM top_rated WHERE release_year = 1994;"
res <- dbSendQuery(con, sql_query)
dbFetch(res)

  title                    release_year imdb_rating
1 The Shawshank Redemption 1994         9.2
2 Pulp Fiction             1994         8.8
3 Forrest Gump             1994         8.8
4 Léon: The Professional   1994         8.5
5 The Lion King            1994         8.5

## 完成查詢之後

- 使用 `DBI` 套件的 `dbClearResult()` 函數清除查詢結果。
- 使用 `DBI` 套件的 `dbDisconnect()` 函數關閉資料庫連線。

In [10]:
dbClearResult(res)
dbDisconnect(con)

## 輸出表格式資料

## 常用作表格式資料輸出的檔案格式

- 表格式文字檔 `.txt` 或 `.csv`
- JSON `.json`

## 表格式文字檔 `.txt` 或 `.csv`

使用 `write.table()` 函數。

In [11]:
write.table(iris, file = "iris.txt", row.names = FALSE) # do not output row names
write.table(iris, file = "iris.csv", sep = ",", row.names = FALSE) # "," as the separator

## JSON `.json`

使用 `jsonlite` 的 `toJSON()` 函數搭配 `writeLines()` 函數。

In [12]:
library("jsonlite")

json_char <- toJSON(iris)
writeLines(json_char, "iris.json")